/* Import Poppins font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
    background-color: #F2E9E4;
    font-family: 'Poppins', sans-serif !important;
}


.section {
    font-family: 'Poppins', sans-serif;
    width: 90%;
    position: relative;
    margin: 50px auto 50px;
    border-radius: 9px;
    box-shadow:
        5px 5px 10px rgba(0, 0, 0, 0.005),
        -5px -5px 10px rgba(0, 0, 0, 0.1),
        -5px 5px 10px rgba(0, 0, 0, 0.1),
        5px -5px 10px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;

}


.section1 {
    font-family: 'Poppins', sans-serif;
    width: 90%;
    position: relative;
    margin: 50px auto 50px;
    border-radius: 9px;
    box-shadow:
        5px 5px 10px rgba(0, 0, 0, 0.005),
        -5px -5px 10px rgba(0, 0, 0, 0.1),
        -5px 5px 10px rgba(0, 0, 0, 0.1),
        5px -5px 10px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    background-color: white;
}

.Welcome {
    font-size: 25px;
}

.btn-close:focus {
    box-shadow: black;
    border: none;
}

.btn-close {
    position: absolute;
    top: 10px;
    left: -25px;
}

.form-control {
    width: 60%;
    margin: 15px 0px;
    border: 1px solid black;
    box-shadow: none;
}

.btn-close:focus {
    box-shadow: none !important;
}

.form-control:focus {
    border: 1px solid black;
    box-shadow: none !important;
}

.Forget {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    color: white;
}

.Forget:hover {
    color: white;
}

.btn-log {
    background-color: blue;
    color: white;
    width: 100%;
    border: none;
    padding: 8px 0px;
    border-radius: 6px;
    margin: 10px 0px;
}

.btn-google {
    background-color: white;
    color: black;
    width: 100%;
    border: 1px solid black;
    padding: 8px 0px;
    border-radius: 6px;
    margin: 0px 0px 10px 0px;
}

.btn-apple {
    background-color: black;
    color: white;
    width: 490px;
    padding: 7px 0px;
    border-radius: 6px;
    margin: 5px 0px 15px 0px;
}

/* Preloader styles */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

/* Hide content initially */
#content {
    display: none;
}

/* Animation for loader */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@media screen and (min-width: 201px) and (max-width: 1024px) {}